body {
    background-color: white;
  }

a.nav {
  color: black;
}

a.navCurr {
  text-decoration: underline;  
  text-decoration-thickness: 2px; 
  color:Green;
  font-size: large;
}

a.navCurr:hover {
  background-color: rgb(41, 134, 1);
  border: solid 2px rgb(41, 134, 1);
  color: rgb(255,255,255);
  /* 41, 134, 1 Green*/
  border-radius: 6px;
  line-height: normal;
}

a.nav:hover {
  background-color: rgb(41, 134, 1);
  border: solid 2px rgb(41, 134, 1);
  color: white;
  /* 41, 134, 1 Green*/
  border-radius: 6px;
  line-height: normal;
}

  .weathericon {
    position: relative;
    display: inline;
  } 

  form {
    display: inline;
  }

  .northSg {
    position: absolute;
    right: 50%;
    bottom: 450px;
  }

  .southSg {
    position: absolute;
    right: 50%;
    bottom: 200px;
  }

  .centralSg {
    position: absolute;
    right: 50%;
    bottom: 325px;
  }

  .eastSg {
    position: absolute;
    right: 75%;
    bottom: 325px;
  }

  .westSg {
    position: absolute;
    right: 25%;
    bottom: 325px;
  }

  .navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
  }

  #map {
    height: 100vh;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}