body {
    background-color: powderblue;
  }

p {
    color: blue;
  }

/* img {  
  size: 400px;
  height:70%; 
  width: 70%; 
  border: solid 2px orange;
  position:relative;
  display:inline;
  } */

  .weathericon {
    position: relative;
    display: inline;
  } 

  form {
    display: inline;
  }

  .northSg {
    position: absolute;
    right: 50%;
    bottom: 450px;
  }

  .southSg {
    position: absolute;
    right: 50%;
    bottom: 200px;
  }

  .centralSg {
    position: absolute;
    right: 50%;
    bottom: 325px;
  }

  .eastSg {
    position: absolute;
    right: 75%;
    bottom: 325px;
  }

  .westSg {
    position: absolute;
    right: 25%;
    bottom: 325px;
  }

  .navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
  }

  #map {
    height: 60vh;
  }